.logo-white {
  color: #ffffff;
}
.footer-item {
  margin-bottom: 9px;
  margin-right: auto;
  margin-left: auto;
}
.footer-all {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
}
.footer-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and(min-width:1200px) {
    display: block;
    text-align: left;
  }
}
.footer-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.logo-link-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-left: 29px;
  @media screen and(min-width:1200px) {
    margin-left: 0px;
  }
}
.footer-flex {
  @media screen and(min-width:1200px) {
    display: flex;
  }
}
